@media (min-width:1200px) and (max-width:1499px){



}


@media (max-width:1440px){


}


@media (min-width:1200px) and (max-width:1300px){


}	

@media (max-width:1200px){


}


@media (min-width:992px) and (max-width:1199px){
	

}
	
	
	
@media (min-width:768px) and (max-width:991px){



}


@media (max-width:767px){

}
